@import './global.css';
@import './form.css';

main {
    padding: 4rem 1rem;
}

.password-strength-indicator {
  display: none;
  transition: width 0.2s linear;
}

.form__field.checking-password .password-strength-indicator {
  height: 3px;
  display: inline-block;
}

.weak-password {
  background-color: red;
  width: 25%;
}

.moderate-strength-password {
  background-color: blue;
  width: 55%;
}

.strong-password {
  background-color: green;
  width: 100%;
}